@model ECommerce.Web.Models.ProductListModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" />
    <title>Index</title>
</head>
<body>
    @foreach (var product in Model.Products)
    {
        <p>@product.Name</p>
    }
</body>
</html>
